@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:700italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #323232;
  line-height: 1;
  font-family: Inter;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 73.4375rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: .7em 1.45em;
  color: #fff;
  font-family: Merriweather;
  font-weight: 700;
  line-height: 120%;
  border-radius: .125rem;
  background-color: #ff7a49;
  transition: background-color .3s
}
.button--fw {
  width: 100%
}
.button--white {
  color: #000;
  background-color: #fff;
  font-size: .875rem;
  padding: 1.1428571429em 1.3571428571em;
  text-transform: uppercase;
  font-family: "DM Serif Text";
  line-height: 1.1
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 50
}
.header__container {
  display: flex;
  align-items: center;
  padding-top: .3125rem;
  padding-bottom: .3125rem
}
.header__logo {
  position: relative;
  z-index: 5;
  color: #000;
  font-family: Merriweather;
  font-style: italic;
  font-weight: 700;
  flex-shrink: 0
}
.header__menu {
  flex: 1 1 auto;
  font-family: Merriweather
}
.header__actions {
  position: relative;
  z-index: 3;
  flex-shrink: 0
}
.menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__item--active .menu__link {
  font-weight: 700;
  text-decoration-line: underline
}
.menu__item--parent {
  position: relative
}
.menu__item--parent .menu__link {
  display: flex;
  align-items: center;
  gap: .25rem
}
.no-webp .menu__item--parent .menu__link::after {
  background: url(../img/header/ch-down.png) 0 0 no-repeat
}
.menu__item--parent .menu__link::after {
  content: "";
  flex: 0 0 1rem;
  height: .5rem;
  width: 1rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.menu__item--parent .sub-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0,10px);
  transform: translate(0,10px);
  pointer-events: none;
  transition: opacity .3s,visibility .3s,-webkit-transform .3s;
  transition: opacity .3s,transform .3s,visibility .3s;
  transition: opacity .3s,transform .3s,visibility .3s,-webkit-transform .3s
}
.menu__item--parent:focus-within .sub-menu,
.menu__item--parent:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  pointer-events: all
}
.menu__item--parent .menu__link::after {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.menu__item--parent .menu__link:focus-within::after,
.menu__item--parent .menu__link:hover::after {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.menu__link {
  color: #000;
  line-height: 120%;
  transition: all .3s
}
.sub-menu {
  position: relative;
  transition: all .3s
}
.sub-menu__list {
  width: 9.375rem;
  border-radius: .3125rem;
  padding: .9375rem;
  background-color: #f0c9af;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.2)
}
.sub-menu__item:not(:last-child) {
  margin-bottom: .625rem
}
.sub-menu__link:hover {
  text-decoration: underline
}
.footer {
  background-color: #291403;
  color: #dcdcdc
}
.footer__body {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 1.875rem
}
.footer__logo:not(:last-child) {
  margin-bottom: .5rem
}
.footer__description {
  line-height: 1.8
}
.footer__description:not(:last-child) {
  margin-bottom: 2rem
}
.footer__navigation {
  display: flex
}
.footer__navigation-item h5:not(:last-child) {
  margin-bottom: 1.1875rem
}
.footer__menu {
  display: grid;
  gap: 1.5rem
}
.footer__title {
  color: #fff;
  font-family: "DM Sans";
  font-weight: 700;
  line-height: 1.2
}
.footer__title--information:not(:last-child) {
  margin-bottom: 1.1875rem
}
.footer__link {
  line-height: 1.2;
  transition: color .5s
}
.footer__location:not(:last-child) {
  margin-bottom: 1.5rem
}
.footer__location-item {
  font-size: .875rem;
  line-height: 1.8
}
.socials-footer {
  display: flex;
  gap: 1rem
}
.socials-footer__link {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.copyright-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-block: 2.125rem;
  gap: 1.25rem;
  border-top: .0625rem solid rgba(150,150,150,.2)
}
.copyright-footer__links {
  display: flex
}
.copyright-footer__link {
  transition: color .3s
}
.hero {
  position: relative;
  display: flex;
  background-color: #291403
}
.hero._watcher-view .hero__title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.hero._watcher-view .hero__description {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.hero._watcher-view .hero__actions {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.hero._watcher-view .hero__image {
  -webkit-transform: translateX(0);
  transform: translateX(0)
}
.hero__container {
  position: relative;
  flex: 1 1 auto
}
.hero__content {
  position: relative;
  z-index: 2;
  color: #f0f0f4
}
.hero__title {
  font-family: "DM Serif Text";
  line-height: 127%;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .2s
}
.hero__description {
  font-size: 1.375rem;
  line-height: 148%;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .4s
}
.hero__description p:not(:last-child) {
  margin-bottom: .625rem
}
.hero__actions {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM Serif Text";
  align-items: center;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .6s
}
.hero__button--video {
  position: relative;
  color: #ff7a49;
  font-size: 1.75rem;
  line-height: 100%
}
.hero__button--video::before {
  content: "";
  height: .1875rem;
  background-color: #ff7a49;
  position: absolute;
  top: 100%;
  width: 0;
  left: 50%;
  transition: all .3s;
  margin-top: .0625rem
}
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all .8s .8s
}
.features._watcher-view .features__item {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.features__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  row-gap: 1.5625rem
}
.features__item {
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0
}
.features__item:nth-child(1) {
  transition: all .8s .4s
}
.features__item:nth-child(2) {
  transition: all .8s .6s
}
.features__item:nth-child(3) {
  transition: all .8s .8s
}
.item-features__image {
  flex: 0 0 4.625rem;
  width: 4.625rem
}
.item-features__image:not(:last-child) {
  margin-bottom: 1.75rem
}
.item-features__title {
  font-family: "Cormorant Infant";
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.1
}
.item-features__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.item-features__label {
  line-height: 1.2
}
.product._watcher-view .item-product {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.product._watcher-view .product__button {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.product__items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .9375rem
}
.product__button {
  text-align: center;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .8s
}
.item-product {
  color: #000;
  font-family: "Cormorant Infant";
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0
}
.item-product:nth-child(1) {
  transition: all .8s .2s
}
.item-product:nth-child(2) {
  transition: all .8s .4s
}
.item-product:nth-child(3) {
  transition: all .8s .6s
}
.item-product:nth-child(4) {
  transition: all .8s .8s
}
.item-product__image {
  flex: 0 1 16.9375rem
}
.item-product__image:not(:last-child) {
  margin-bottom: 1.0625rem
}
.item-product__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 271/270;
  -o-object-fit: contain;
  object-fit: contain
}
.item-product__title:not(:last-child) {
  margin-bottom: .25rem
}
.custom._watcher-view .custom__image--first,
.custom._watcher-view .custom__image--second {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1
}
.custom._watcher-view .custom__description,
.custom._watcher-view .custom__label,
.custom._watcher-view .title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.custom__wrapper {
  display: flex;
  justify-content: space-between
}
.custom__items {
  display: flex;
  flex-wrap: wrap
}
.custom__image--first {
  flex: 0 1 23.4375rem;
  aspect-ratio: 375/436;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .8s .4s
}
.custom__image--second {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .8s .6s
}
.custom__content {
  flex: 1 0 50%
}
.custom__label {
  color: #291403;
  line-height: 1.1;
  text-transform: uppercase;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .2s
}
.custom__label:not(:last-child) {
  margin-bottom: .8125rem
}
.custom__title:not(:last-child) {
  margin-bottom: 1.5625rem
}
.custom__description {
  color: #838383;
  font-size: 1.25rem;
  line-height: 1.8;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .6s
}
.custom__description p:not(:last-child) {
  margin-bottom: .625rem
}
.deal-week {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .8s .6s
}
.deal-week._watcher-view {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  opacity: 1
}
.deal-week__container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse
}
.deal-week__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.25rem;
  background-color: #291403;
  font-family: "DM Serif Text";
  color: #f0f0f4;
  padding-block: 1.25rem
}
.deal-week__label {
  font-size: 1rem;
  line-height: 1.2
}
.deal-week__text {
  color: rgba(255,255,255,.81);
  line-height: 1.2
}
.deal-week__time {
  font-size: 1.625rem
}
.deal-week__image img {
  aspect-ratio: 614/375
}
.about._watcher-view .about__description,
.about._watcher-view .about__info,
.about._watcher-view .about__subtitle,
.about._watcher-view .about__title,
.about._watcher-view .label {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.about._watcher-view .about__avatar,
.about._watcher-view .about__slide {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1
}
.about__header {
  text-align: center
}
.about__subtitle {
  color: #d06b00;
  font-size: .9375rem;
  line-height: 1.2;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .2s
}
.about__subtitle:not(:last-child) {
  margin-bottom: .5rem
}
.about__title {
  color: #0e333d;
  font-family: "DM Serif Text";
  line-height: 1.27;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .4s
}
.about__title:not(:last-child) {
  margin-bottom: 1.25rem
}
.about__slide {
  border-radius: .75rem;
  border: .0625rem solid #d8d8d8;
  padding: 3rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .4s .6s
}
.about__slide:nth-child(even) {
  color: #d8d8d8;
  background-color: #291403
}
.about__pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  justify-content: center;
  align-items: center
}
.about__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  flex-shrink: 0;
  flex-basis: .5rem;
  height: .5rem;
  background-color: #291403;
  border-radius: 3.125rem;
  cursor: pointer;
  opacity: .5;
  margin: 0;
  transition: opacity .3s
}
.about__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet-active {
  opacity: 1
}
.about__description {
  font-size: 1.125rem;
  line-height: 1.8;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .8s
}
.about__description:not(:last-child) {
  margin-bottom: 2rem
}
.about__profile {
  display: flex;
  align-items: center;
  gap: 1rem
}
.about__avatar {
  overflow: hidden;
  border-radius: 3.5rem;
  flex: 0 0 3rem;
  width: 3rem;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  transition: all .9s .8s
}
.about__avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__info {
  display: grid;
  gap: .625rem;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .9s .8s
}
.about__name {
  font-size: 1.25rem
}
.about__qualification {
  color: #646464;
  line-height: 1.1
}
.popular._watcher-view .popular__item,
.popular._watcher-view .popular__label,
.popular._watcher-view .title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.popular__header-block {
  text-align: center
}
.popular__label {
  color: #606060;
  font-size: 1.25rem;
  line-height: 1.8;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .6s
}
.popular__items {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.5rem;
  row-gap: .9375rem
}
.popular__item {
  padding: 0 1.5rem;
  flex: 0 0 33.333%
}
.popular__item:nth-child(1) {
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .4s
}
.popular__item:nth-child(2) {
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .6s
}
.popular__item:nth-child(3) {
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .8s
}
.item-popular__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 357/240;
  -o-object-fit: cover;
  object-fit: cover
}
.item-popular__image:not(:last-child) {
  margin-bottom: .875rem
}
.item-popular__title {
  font-family: "DM Serif Text";
  font-size: 1.5rem;
  line-height: 1.2
}
.item-popular__title:not(:last-child) {
  margin-bottom: 1rem
}
.item-popular__text {
  line-height: 1.6
}
.item-popular__text:not(:last-child) {
  margin-bottom: .5rem
}
.item-popular__link {
  color: #ff7a49;
  font-weight: 700;
  line-height: 150%
}
.item-popular__link a {
  display: flex;
  align-items: center;
  gap: .9375rem;
  justify-content: space-between
}
.item-popular__link svg {
  transition: -webkit-transform .3s .3s;
  transition: transform .3s .3s;
  transition: transform .3s .3s,-webkit-transform .3s .3s
}
.header-block {
  text-align: center
}
.header-block._watcher-view .title {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.header-block._watcher-view .label {
  -webkit-transform: translate(0,0);
  transform: translate(0,0);
  opacity: 1
}
.header-block__subtitle {
  color: #d06b00;
  font-size: .9375rem;
  line-height: 1.2
}
.header-block__subtitle:not(:last-child) {
  margin-bottom: .5rem
}
.header-block__title:not(:last-child) {
  margin-bottom: 1.6875rem
}
.title {
  font-family: "DM Serif Text";
  line-height: 1.1;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .4s
}
.label {
  color: #818181;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 1.4;
  -webkit-transform: translate(0,120px);
  transform: translate(0,120px);
  opacity: 0;
  transition: all .8s .6s
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: .3125rem;
    -webkit-transform: translate(0,10%);
    transform: translate(0,10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 5
  }
}
@media (min-width:61.99875em) {
  .hero__content {
    max-width: 36.0625rem
  }
  .custom__items {
    position: relative;
    flex: 1 0 50%
  }
  .custom__image--second {
    position: absolute;
    bottom: -6.584362%;
    right: 15.733333%;
    flex: 0 1 11.5625rem;
    aspect-ratio: 185/216;
    -o-object-fit: cover;
    object-fit: cover
  }
}
@media (min-width:72.81125em) {
  .item-product__image {
    width: 16.9375rem
  }
}
@media (min-width:73.4375em) {
  .button {
    font-size: 1.25rem
  }
  .header__container {
    min-height: 6rem
  }
  .header__container {
    gap: .9375rem
  }
  .header__logo {
    font-size: 1.875rem
  }
  .menu__list {
    -webkit-column-gap: 2.25rem;
    -moz-column-gap: 2.25rem;
    column-gap: 2.25rem
  }
  .menu__link {
    font-size: 1.25rem
  }
  .footer__body {
    -webkit-padding-before: 2.875rem;
    padding-block-start: 2.875rem
  }
  .footer__body {
    -webkit-padding-after: 3.3125rem;
    padding-block-end: 3.3125rem
  }
  .footer__body {
    -webkit-column-gap: 7.75rem;
    -moz-column-gap: 7.75rem;
    column-gap: 7.75rem
  }
  .footer__navigation {
    gap: 7.75rem
  }
  .footer__title {
    font-size: 1rem
  }
  .footer__link {
    font-size: .875rem
  }
  .copyright-footer__links {
    gap: 3.25rem
  }
  .hero:not(:last-child) {
    padding-block: 8.125rem
  }
  .hero__title {
    font-size: 4.875rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .hero__description:not(:last-child) {
    margin-bottom: 3rem
  }
  .hero__actions {
    gap: 2.9375rem
  }
  .features:not(:last-child) {
    padding-top: 7.5rem
  }
  .features:not(:last-child) {
    padding-bottom: 12.1875rem
  }
  .features__items {
    -webkit-column-gap: 5.5rem;
    -moz-column-gap: 5.5rem;
    column-gap: 5.5rem
  }
  .product:not(:last-child) {
    padding-bottom: 10.125rem
  }
  .product__items:not(:last-child) {
    margin-bottom: 4.75rem
  }
  .item-product {
    font-size: 1.5rem
  }
  .custom:not(:last-child) {
    padding-bottom: 11.5rem
  }
  .custom__label {
    font-size: 1.75rem
  }
  .deal-week:not(:last-child) {
    padding-bottom: 12.0625rem
  }
  .deal-week__content {
    padding-left: 4.875rem
  }
  .deal-week__title {
    font-size: 2.5rem
  }
  .deal-week__text {
    font-size: .75rem
  }
  .about {
    padding-bottom: 6.75rem
  }
  .about__header:not(:last-child) {
    margin-bottom: 5.8125rem
  }
  .about__title {
    font-size: 3rem
  }
  .about__slider:not(:last-child) {
    margin-bottom: 3.5rem
  }
  .popular {
    margin-bottom: 6.8125rem
  }
  .popular__header-block:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .popular__title:not(:last-child) {
    margin-bottom: 1.6875rem
  }
  .header-block:not(:last-child) {
    margin-bottom: 3.875rem
  }
  .title {
    font-size: 3.625rem
  }
  .label {
    font-size: 1.875rem
  }
}
@media (max-width:20em) {
  .button {
    font-size: 1.125rem
  }
  .header__container {
    min-height: 2.875rem
  }
  .header__container {
    gap: .625rem
  }
  .header__logo {
    font-size: 1.375rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .menu__link {
    font-size: 1.125rem
  }
  .footer__body {
    -webkit-padding-before: 2.1875rem;
    padding-block-start: 2.1875rem
  }
  .footer__body {
    -webkit-padding-after: 2.1875rem;
    padding-block-end: 2.1875rem
  }
  .footer__body {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .footer__navigation {
    gap: 1.875rem
  }
  .footer__title {
    font-size: 1.25rem
  }
  .footer__link {
    font-size: 1.125rem
  }
  .copyright-footer__links {
    gap: 1.5625rem
  }
  .hero:not(:last-child) {
    padding-block: 2.5rem
  }
  .hero__title {
    font-size: 3rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: .9375rem
  }
  .hero__description:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__actions {
    gap: .9375rem
  }
  .features:not(:last-child) {
    padding-top: 2.5rem
  }
  .features:not(:last-child) {
    padding-bottom: 2.5rem
  }
  .features__items {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .product:not(:last-child) {
    padding-bottom: 2.5rem
  }
  .product__items:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .item-product {
    font-size: 1.125rem
  }
  .custom:not(:last-child) {
    padding-bottom: 2.5rem
  }
  .custom__label {
    font-size: 1.375rem
  }
  .deal-week:not(:last-child) {
    padding-bottom: 2.5rem
  }
  .deal-week__content {
    padding-left: .9375rem
  }
  .deal-week__title {
    font-size: 2rem
  }
  .deal-week__text {
    font-size: 1rem
  }
  .about {
    padding-bottom: 2.5rem
  }
  .about__header:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .about__title {
    font-size: 2rem
  }
  .about__slider:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .popular {
    margin-bottom: 2.5rem
  }
  .popular__header-block:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .popular__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .header-block:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .title {
    font-size: 2.375rem
  }
  .label {
    font-size: 1.75rem
  }
}
@media (max-width:68.93625em) {
  .hero__image {
    opacity: .5
  }
}
@media (max-width:61.99875em) {
  .custom__wrapper {
    flex-direction: column-reverse;
    gap: 1.25rem
  }
  .custom__items {
    gap: 1.25rem;
    justify-content: center
  }
  .custom__image--second {
    flex: 0 1 23.4375rem;
    aspect-ratio: 375/436;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover
  }
  .custom__content {
    text-align: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #f7ab78
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center
  }
  .menu__link {
    font-size: 1.625rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .menu__list {
    gap: .9375rem
  }
  .menu__link {
    font-size: 1.625rem;
    justify-content: center
  }
  .sub-menu {
    position: relative;
    visibility: visible;
    opacity: 1;
    padding-top: .625rem;
    -webkit-transform: translate(0,0);
    transform: translate(0,0)
  }
  .sub-menu__list {
    width: 100%;
    border-radius: 2
  }
  .sub-menu__item:not(:last-child) {
    margin-bottom: .9375rem
  }
  .sub-menu__link {
    font-size: 1.25rem
  }
  .footer__body {
    grid-template-columns: repeat(2,1fr)
  }
  .hero__content {
    text-align: center
  }
  .hero__actions {
    justify-content: center
  }
  .hero__image {
    display: none
  }
  .product__items {
    grid-template-columns: repeat(2,1fr)
  }
  .product__item {
    text-align: center
  }
  .deal-week__container {
    flex-direction: column
  }
  .deal-week__content {
    text-align: center;
    align-items: center
  }
  .popular__item {
    flex: 0 0 50%
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:33.56125em) {
  .popular__item {
    flex: 1 0 100%
  }
}
@media (max-width:29.99875em) {
  .footer__body {
    grid-template-columns: auto
  }
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
  }
  .footer__navigation {
    justify-content: space-evenly;
    flex-wrap: wrap
  }
  .footer__information {
    text-align: center
  }
  .product__items {
    grid-template-columns: auto
  }
}
@media (min-width:20em) and (max-width:73.4375em) {
  @supports (font-size:clamp(1.125rem ,1.0782163743rem + 0.2339181287vw ,1.25rem)) {
    .button {
      font-size: clamp(1.125rem ,1.0782163743rem + .2339181287vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0782163743rem + 0.2339181287vw ,1.25rem)) {
    .button {
      font-size: calc(1.125rem + .125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (min-height:clamp(2.875rem ,1.7054093567rem + 5.8479532164vw ,6rem)) {
    .header__container {
      min-height: clamp(2.875rem ,1.7054093567rem + 5.8479532164vw ,6rem)
    }
  }
  @supports not (min-height:clamp(2.875rem ,1.7054093567rem + 5.8479532164vw ,6rem)) {
    .header__container {
      min-height: calc(2.875rem + 3.125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (gap:clamp(0.625rem ,0.5080409357rem + 0.5847953216vw ,0.9375rem)) {
    .header__container {
      gap: clamp(.625rem ,.5080409357rem + .5847953216vw ,.9375rem)
    }
  }
  @supports not (gap:clamp(0.625rem ,0.5080409357rem + 0.5847953216vw ,0.9375rem)) {
    .header__container {
      gap: calc(.625rem + .3125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1878654971rem + 0.9356725146vw ,1.875rem)) {
    .header__logo {
      font-size: clamp(1.375rem ,1.1878654971rem + .9356725146vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1878654971rem + 0.9356725146vw ,1.875rem)) {
    .header__logo {
      font-size: calc(1.375rem + .5 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.4462719298rem + 2.4561403509vw ,2.25rem)) or (column-gap:clamp(0.9375rem ,0.4462719298rem + 2.4561403509vw ,2.25rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.4462719298rem + 2.4561403509vw ,2.25rem);
      -moz-column-gap: clamp(.9375rem ,.4462719298rem + 2.4561403509vw ,2.25rem);
      column-gap: clamp(.9375rem ,.4462719298rem + 2.4561403509vw ,2.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.4462719298rem + 2.4561403509vw ,2.25rem)) or (column-gap:clamp(0.9375rem ,0.4462719298rem + 2.4561403509vw ,2.25rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + 1.3125 * (100vw - 20rem)/ 53.4375);
      -moz-column-gap: calc(.9375rem + 1.3125 * (100vw - 20rem)/ 53.4375);
      column-gap: calc(.9375rem + 1.3125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1.125rem ,1.0782163743rem + 0.2339181287vw ,1.25rem)) {
    .menu__link {
      font-size: clamp(1.125rem ,1.0782163743rem + .2339181287vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,1.0782163743rem + 0.2339181287vw ,1.25rem)) {
    .menu__link {
      font-size: calc(1.125rem + .125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-block-start:clamp(2.1875rem ,1.9301900585rem + 1.2865497076vw ,2.875rem)) {
    .footer__body {
      -webkit-padding-before: clamp(2.1875rem ,1.9301900585rem + 1.2865497076vw ,2.875rem);
      padding-block-start: clamp(2.1875rem ,1.9301900585rem + 1.2865497076vw ,2.875rem)
    }
  }
  @supports not (padding-block-start:clamp(2.1875rem ,1.9301900585rem + 1.2865497076vw ,2.875rem)) {
    .footer__body {
      -webkit-padding-before: calc(2.1875rem + .6875 * (100vw - 20rem)/ 53.4375);
      padding-block-start: calc(2.1875rem + .6875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-block-end:clamp(2.1875rem ,1.7664473684rem + 2.1052631579vw ,3.3125rem)) {
    .footer__body {
      -webkit-padding-after: clamp(2.1875rem ,1.7664473684rem + 2.1052631579vw ,3.3125rem);
      padding-block-end: clamp(2.1875rem ,1.7664473684rem + 2.1052631579vw ,3.3125rem)
    }
  }
  @supports not (padding-block-end:clamp(2.1875rem ,1.7664473684rem + 2.1052631579vw ,3.3125rem)) {
    .footer__body {
      -webkit-padding-after: calc(2.1875rem + 1.125 * (100vw - 20rem)/ 53.4375);
      padding-block-end: calc(2.1875rem + 1.125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports ((-moz-column-gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem)) or (column-gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem))) {
    .footer__body {
      -webkit-column-gap: clamp(1.875rem ,-.3238304094rem + 10.9941520468vw ,7.75rem);
      -moz-column-gap: clamp(1.875rem ,-.3238304094rem + 10.9941520468vw ,7.75rem);
      column-gap: clamp(1.875rem ,-.3238304094rem + 10.9941520468vw ,7.75rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem)) or (column-gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem))) {
    .footer__body {
      -webkit-column-gap: calc(1.875rem + 5.875 * (100vw - 20rem)/ 53.4375);
      -moz-column-gap: calc(1.875rem + 5.875 * (100vw - 20rem)/ 53.4375);
      column-gap: calc(1.875rem + 5.875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem)) {
    .footer__navigation {
      gap: clamp(1.875rem ,-.3238304094rem + 10.9941520468vw ,7.75rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-0.3238304094rem + 10.9941520468vw ,7.75rem)) {
    .footer__navigation {
      gap: calc(1.875rem + 5.875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1rem ,1.3435672515rem + -0.4678362573vw ,1.25rem)) {
    .footer__title {
      font-size: clamp(1rem ,1.3435672515rem + -.4678362573vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1rem ,1.3435672515rem + -0.4678362573vw ,1.25rem)) {
    .footer__title {
      font-size: calc(1.25rem + -.25 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(0.875rem ,1.2185672515rem + -0.4678362573vw ,1.125rem)) {
    .footer__link {
      font-size: clamp(.875rem ,1.2185672515rem + -.4678362573vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,1.2185672515rem + -0.4678362573vw ,1.125rem)) {
    .footer__link {
      font-size: calc(1.125rem + -.25 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (gap:clamp(1.5625rem ,0.9309210526rem + 3.1578947368vw ,3.25rem)) {
    .copyright-footer__links {
      gap: clamp(1.5625rem ,.9309210526rem + 3.1578947368vw ,3.25rem)
    }
  }
  @supports not (gap:clamp(1.5625rem ,0.9309210526rem + 3.1578947368vw ,3.25rem)) {
    .copyright-footer__links {
      gap: calc(1.5625rem + 1.6875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-block:clamp(2.5rem ,0.3947368421rem + 10.5263157895vw ,8.125rem)) {
    .hero:not(:last-child) {
      padding-block: clamp(2.5rem ,.3947368421rem + 10.5263157895vw ,8.125rem)
    }
  }
  @supports not (padding-block:clamp(2.5rem ,0.3947368421rem + 10.5263157895vw ,8.125rem)) {
    .hero:not(:last-child) {
      padding-block: calc(2.5rem + 5.625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(3rem ,2.298245614rem + 3.5087719298vw ,4.875rem)) {
    .hero__title {
      font-size: clamp(3rem ,2.298245614rem + 3.5087719298vw ,4.875rem)
    }
  }
  @supports not (font-size:clamp(3rem ,2.298245614rem + 3.5087719298vw ,4.875rem)) {
    .hero__title {
      font-size: calc(3rem + 1.875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,0.5398391813rem + 1.9883040936vw ,2rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: clamp(.9375rem ,.5398391813rem + 1.9883040936vw ,2rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,0.5398391813rem + 1.9883040936vw ,2rem)) {
    .hero__title:not(:last-child) {
      margin-bottom: calc(.9375rem + 1.0625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.0244883041rem + 2.6900584795vw ,3rem)) {
    .hero__description:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,1.0244883041rem + 2.6900584795vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.0244883041rem + 2.6900584795vw ,3rem)) {
    .hero__description:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.4375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.1889619883rem + 3.7426900585vw ,2.9375rem)) {
    .hero__actions {
      gap: clamp(.9375rem ,.1889619883rem + 3.7426900585vw ,2.9375rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.1889619883rem + 3.7426900585vw ,2.9375rem)) {
    .hero__actions {
      gap: calc(.9375rem + 2 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-top:clamp(2.5rem ,0.6286549708rem + 9.3567251462vw ,7.5rem)) {
    .features:not(:last-child) {
      padding-top: clamp(2.5rem ,.6286549708rem + 9.3567251462vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(2.5rem ,0.6286549708rem + 9.3567251462vw ,7.5rem)) {
    .features:not(:last-child) {
      padding-top: calc(2.5rem + 5 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,-1.1257309942rem + 18.1286549708vw ,12.1875rem)) {
    .features:not(:last-child) {
      padding-bottom: clamp(2.5rem ,-1.1257309942rem + 18.1286549708vw ,12.1875rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,-1.1257309942rem + 18.1286549708vw ,12.1875rem)) {
    .features:not(:last-child) {
      padding-bottom: calc(2.5rem + 9.6875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports ((-moz-column-gap:clamp(1.5625rem ,0.0888157895rem + 7.3684210526vw ,5.5rem)) or (column-gap:clamp(1.5625rem ,0.0888157895rem + 7.3684210526vw ,5.5rem))) {
    .features__items {
      -webkit-column-gap: clamp(1.5625rem ,.0888157895rem + 7.3684210526vw ,5.5rem);
      -moz-column-gap: clamp(1.5625rem ,.0888157895rem + 7.3684210526vw ,5.5rem);
      column-gap: clamp(1.5625rem ,.0888157895rem + 7.3684210526vw ,5.5rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,0.0888157895rem + 7.3684210526vw ,5.5rem)) or (column-gap:clamp(1.5625rem ,0.0888157895rem + 7.3684210526vw ,5.5rem))) {
    .features__items {
      -webkit-column-gap: calc(1.5625rem + 3.9375 * (100vw - 20rem)/ 53.4375);
      -moz-column-gap: calc(1.5625rem + 3.9375 * (100vw - 20rem)/ 53.4375);
      column-gap: calc(1.5625rem + 3.9375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,-0.3538011696rem + 14.269005848vw ,10.125rem)) {
    .product:not(:last-child) {
      padding-bottom: clamp(2.5rem ,-.3538011696rem + 14.269005848vw ,10.125rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,-0.3538011696rem + 14.269005848vw ,10.125rem)) {
    .product:not(:last-child) {
      padding-bottom: calc(2.5rem + 7.625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.2284356725rem + 4.7953216374vw ,4.75rem)) {
    .product__items:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.2284356725rem + 4.7953216374vw ,4.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.2284356725rem + 4.7953216374vw ,4.75rem)) {
    .product__items:not(:last-child) {
      margin-bottom: calc(2.1875rem + 2.5625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9846491228rem + 0.701754386vw ,1.5rem)) {
    .item-product {
      font-size: clamp(1.125rem ,.9846491228rem + .701754386vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9846491228rem + 0.701754386vw ,1.5rem)) {
    .item-product {
      font-size: calc(1.125rem + .375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,-0.8684210526rem + 16.8421052632vw ,11.5rem)) {
    .custom:not(:last-child) {
      padding-bottom: clamp(2.5rem ,-.8684210526rem + 16.8421052632vw ,11.5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,-0.8684210526rem + 16.8421052632vw ,11.5rem)) {
    .custom:not(:last-child) {
      padding-bottom: calc(2.5rem + 9 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.2346491228rem + 0.701754386vw ,1.75rem)) {
    .custom__label {
      font-size: clamp(1.375rem ,1.2346491228rem + .701754386vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.2346491228rem + 0.701754386vw ,1.75rem)) {
    .custom__label {
      font-size: calc(1.375rem + .375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,-1.0789473684rem + 17.8947368421vw ,12.0625rem)) {
    .deal-week:not(:last-child) {
      padding-bottom: clamp(2.5rem ,-1.0789473684rem + 17.8947368421vw ,12.0625rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,-1.0789473684rem + 17.8947368421vw ,12.0625rem)) {
    .deal-week:not(:last-child) {
      padding-bottom: calc(2.5rem + 9.5625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,-0.5361842105rem + 7.3684210526vw ,4.875rem)) {
    .deal-week__content {
      padding-left: clamp(.9375rem ,-.5361842105rem + 7.3684210526vw ,4.875rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,-0.5361842105rem + 7.3684210526vw ,4.875rem)) {
    .deal-week__content {
      padding-left: calc(.9375rem + 3.9375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(2rem ,1.8128654971rem + 0.9356725146vw ,2.5rem)) {
    .deal-week__title {
      font-size: clamp(2rem ,1.8128654971rem + .9356725146vw ,2.5rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.8128654971rem + 0.9356725146vw ,2.5rem)) {
    .deal-week__title {
      font-size: calc(2rem + .5 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(0.75rem ,1.0935672515rem + -0.4678362573vw ,1rem)) {
    .deal-week__text {
      font-size: clamp(.75rem ,1.0935672515rem + -.4678362573vw ,1rem)
    }
  }
  @supports not (font-size:clamp(0.75rem ,1.0935672515rem + -0.4678362573vw ,1rem)) {
    .deal-week__text {
      font-size: calc(1rem + -.25 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,0.9093567251rem + 7.9532163743vw ,6.75rem)) {
    .about {
      padding-bottom: clamp(2.5rem ,.9093567251rem + 7.9532163743vw ,6.75rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,0.9093567251rem + 7.9532163743vw ,6.75rem)) {
    .about {
      padding-bottom: calc(2.5rem + 4.25 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,0.8307748538rem + 6.783625731vw ,5.8125rem)) {
    .about__header:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,.8307748538rem + 6.783625731vw ,5.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,0.8307748538rem + 6.783625731vw ,5.8125rem)) {
    .about__header:not(:last-child) {
      margin-bottom: calc(2.1875rem + 3.625 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(2rem ,1.6257309942rem + 1.8713450292vw ,3rem)) {
    .about__title {
      font-size: clamp(2rem ,1.6257309942rem + 1.8713450292vw ,3rem)
    }
  }
  @supports not (font-size:clamp(2rem ,1.6257309942rem + 1.8713450292vw ,3rem)) {
    .about__title {
      font-size: calc(2rem + 1 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,0.8373538012rem + 3.6257309942vw ,3.5rem)) {
    .about__slider:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,.8373538012rem + 3.6257309942vw ,3.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,0.8373538012rem + 3.6257309942vw ,3.5rem)) {
    .about__slider:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.9375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(2.5rem ,0.8859649123rem + 8.0701754386vw ,6.8125rem)) {
    .popular {
      margin-bottom: clamp(2.5rem ,.8859649123rem + 8.0701754386vw ,6.8125rem)
    }
  }
  @supports not (margin-bottom:clamp(2.5rem ,0.8859649123rem + 8.0701754386vw ,6.8125rem)) {
    .popular {
      margin-bottom: calc(2.5rem + 4.3125 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,1.211622807rem + 1.7543859649vw ,2.5rem)) {
    .popular__header-block:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,1.211622807rem + 1.7543859649vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,1.211622807rem + 1.7543859649vw ,2.5rem)) {
    .popular__header-block:not(:last-child) {
      margin-bottom: calc(1.5625rem + .9375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,1.0862573099rem + 0.8187134503vw ,1.6875rem)) {
    .popular__title:not(:last-child) {
      margin-bottom: clamp(1.25rem ,1.0862573099rem + .8187134503vw ,1.6875rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,1.0862573099rem + 0.8187134503vw ,1.6875rem)) {
    .popular__title:not(:last-child) {
      margin-bottom: calc(1.25rem + .4375 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.5559210526rem + 3.1578947368vw ,3.875rem)) {
    .header-block:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.5559210526rem + 3.1578947368vw ,3.875rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.5559210526rem + 3.1578947368vw ,3.875rem)) {
    .header-block:not(:last-child) {
      margin-bottom: calc(2.1875rem + 1.6875 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(2.375rem ,1.9071637427rem + 2.3391812865vw ,3.625rem)) {
    .title {
      font-size: clamp(2.375rem ,1.9071637427rem + 2.3391812865vw ,3.625rem)
    }
  }
  @supports not (font-size:clamp(2.375rem ,1.9071637427rem + 2.3391812865vw ,3.625rem)) {
    .title {
      font-size: calc(2.375rem + 1.25 * (100vw - 20rem)/ 53.4375)
    }
  }
  @supports (font-size:clamp(1.75rem ,1.7032163743rem + 0.2339181287vw ,1.875rem)) {
    .label {
      font-size: clamp(1.75rem ,1.7032163743rem + .2339181287vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.75rem ,1.7032163743rem + 0.2339181287vw ,1.875rem)) {
    .label {
      font-size: calc(1.75rem + .125 * (100vw - 20rem)/ 53.4375)
    }
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #d06b00
  }
  .menu__link:hover {
    text-decoration: underline
  }
  .footer__link:hover {
    color: #ff7a49
  }
  .socials-footer__link:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .copyright-footer__link:hover {
    color: #ff7a49
  }
  .hero__button--video:hover::before {
    content: "";
    width: 100%;
    left: 0
  }
  .item-product:hover {
    text-decoration: underline
  }
  .about__pagination.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet:hover {
    opacity: 8
  }
  .item-popular__link:hover a {
    text-decoration: underline
  }
  .item-popular__link:hover svg {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
.webp .menu__item--parent .menu__link::after {
  background: url(../img/header/ch-down.webp) 0 0 no-repeat
}