@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: 1.0625rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 78.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,76.625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  flex-shrink: 0;
  padding: .7647058824em 1.5882352941em;
  border-radius: 1.5625rem;
  transition: all .3s ease;
  background-color: #181818;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .25rem
}
.button--fw {
  width: 100%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  background-color: #a1a483
}
.header__container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  padding-top: .3125rem;
  padding-bottom: .3125rem
}
.header__logo {
  position: relative;
  z-index: 2;
  flex: 0 1 12rem;
  width: 12rem
}
.header__logo img {
  aspect-ratio: 192/23;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.header__action {
  position: relative;
  z-index: 2
}
.header__cart {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: .0625rem solid #fff;
  padding: .625rem .5625rem;
  border-radius: 50%;
  transition: all .3s ease
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  color: #fff;
  transition: color .3s ease
}
.footer {
  background-color: #a1a483
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff
}
.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center
}
.footer__title {
  font-weight: 700
}
.footer__text {
  margin: 0 auto;
  max-width: 37.1875rem;
  line-height: 1.5;
  opacity: .8
}
.footer__copyright {
  opacity: .8
}
.footer__actions {
  border-top: .125rem solid rgba(255,255,255,.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  row-gap: 1.8125rem
}
.footer__logo {
  flex: 0 1 12rem;
  width: 12rem
}
.footer__logo img {
  aspect-ratio: 192/23;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__socials {
  display: flex
}
.footer__social {
  transition: color .3s
}
.hero__container {
  border-bottom: .125rem solid #f3f3f3
}
.hero__body {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.hero__content {
  background-color: #f6f6f6;
  padding-block: 7.5rem
}
.hero__title {
  font-weight: 700;
  line-height: 1.1
}
.hero__text p {
  line-height: 1.5
}
.hero__image {
  position: relative
}
.hero__benefits {
  text-align: center
}
.hero__benefits p {
  font-weight: 500;
  line-height: 1.3
}
.collection__items {
  display: grid;
  grid-template-columns: repeat(3,1fr)
}
.item-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.item-collection:nth-child(1) {
  background-color: #e1e4c2
}
.item-collection:nth-child(2) {
  background-color: #dceeee
}
.item-collection:nth-child(3) {
  background-color: #f3efe1
}
.item-collection__content {
  flex-grow: 1
}
.item-collection__title {
  max-width: 13.875rem
}
.item-collection__title:not(:last-child) {
  margin-bottom: .625rem
}
.item-collection__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
@keyframes slide {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0)
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
  }
}
.brands__body {
  position: relative;
  overflow: hidden;
  white-space: nowrap
}
.brands__body:hover .brands__slide {
  -webkit-animation-play-state: paused;
  animation-play-state: paused
}
.brands__body::after,
.brands__body::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 2
}
.brands__body::before {
  left: 0;
  background: linear-gradient(to left,rgba(255,255,255,0),#fff)
}
.brands__body::after {
  right: 0;
  background: linear-gradient(to right,rgba(255,255,255,0),#fff)
}
.brands__slide {
  display: inline-block;
  -webkit-animation: 35s slide infinite linear;
  animation: 35s slide infinite linear
}
.brands__slide img {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.arrivals {
  position: relative
}
.arrivals__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  color: #fff
}
.arrivals__title {
  max-width: 20.5625rem
}
.arrivals__picture {
  position: absolute;
  top: 0;
  left: 0
}
.advantages__items {
  display: flex;
  align-items: center
}
.item-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}
.item-advantages__picture {
  flex: 0 0 3.125rem;
  width: 50
}
.item-advantages__picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-advantages__title {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: .009375rem
}
.item-advantages__title:not(:last-child) {
  margin-bottom: .8125rem
}
.item-advantages__text p {
  font-size: 1.0625rem;
  line-height: 1.5;
  letter-spacing: .015625rem
}
.furniture__title {
  text-align: center
}
.furniture__picture {
  position: relative
}
.furniture__body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: .625rem
}
.furniture__btn {
  align-self: flex-end
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
  }
}
.furniture__tippy {
  position: absolute;
  cursor: pointer;
  z-index: 2
}
.furniture__tippy--first {
  bottom: 31.613977%;
  left: 26.512739%
}
.furniture__tippy--second {
  bottom: 43.427621%;
  right: 14.968153%
}
.content-furniture__subtitle {
  font-weight: 600;
  line-height: 127.272727%
}
.content-furniture__text {
  max-width: 30.25rem
}
.content-furniture__text p {
  line-height: 1.5;
  letter-spacing: .015625rem
}
.content-furniture__text p:not(:last-child) {
  margin-bottom: .625rem
}
.sellers {
  border-bottom: .125rem solid #f3f3f3
}
.sellers__title {
  text-align: center
}
.sellers__items {
  display: grid;
  grid-template-columns: repeat(4,1fr)
}
.item-sellers {
  display: flex;
  flex-direction: column;
  flex-basis: 18.8125rem
}
.item-sellers__picture {
  overflow: hidden;
  aspect-ratio: 300/278
}
.item-sellers__picture img {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.item-sellers__body {
  display: flex;
  align-items: center
}
.item-sellers__about {
  display: flex;
  flex-direction: column;
  flex-grow: 1
}
.item-sellers__name {
  font-weight: 600;
  line-height: 164.705882%
}
.item-sellers__price {
  line-height: 141.176471%;
  letter-spacing: .009375rem
}
.item-sellers__price::before {
  content: "€"
}
.item-sellers__btn {
  display: inline-flex;
  border-radius: 50%;
  background-color: #f2f2f2;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.item-sellers__btn img {
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}
.page__hero:not(:last-child) {
  margin-bottom: 2.875rem
}
.label {
  line-height: 135.714286%;
  letter-spacing: .084375rem
}
.label--white {
  color: #fff
}
.title {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: .015625rem
}
.tippy-box[data-animation=fade][data-state=hidden] {
  opacity: 0
}
[data-tippy-root] {
  max-width: calc(100vw - 10px)
}
.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  transition-property: visibility,opacity,-webkit-transform;
  transition-property: transform,visibility,opacity;
  transition-property: transform,visibility,opacity,-webkit-transform
}
.tippy-box[data-placement^=top]>.tippy-arrow {
  bottom: 0
}
.tippy-box[data-placement^=top]>.tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
  transform-origin: center top
}
.tippy-box[data-placement^=bottom]>.tippy-arrow {
  top: 0
}
.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom
}
.tippy-box[data-placement^=left]>.tippy-arrow {
  right: 0
}
.tippy-box[data-placement^=left]>.tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
  transform-origin: center left
}
.tippy-box[data-placement^=right]>.tippy-arrow {
  left: 0
}
.tippy-box[data-placement^=right]>.tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
  transform-origin: center right
}
.tippy-box[data-inertia][data-state=visible] {
  transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}
.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333
}
.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid
}
.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1
}
@media (min-width:29.99875em)and (min-width:78.5em) {
  .hero__body {
    padding-top: 2.5rem
  }
}
@media (min-width:47.99875em) {
  .menu {
    flex-grow: 1
  }
  .menu__list {
    align-items: center;
    justify-content: flex-end
  }
  .hero__content {
    padding-block: 7.5rem
  }
  .collection__items {
    gap: 1rem
  }
}
@media (min-width:61.99875em) {
  .item-collection__content {
    text-align: center
  }
  .item-collection__label {
    padding-top: 3.125rem
  }
}
@media (min-width:78.5em) {
  .button {
    font-size: 1.0625rem
  }
  .header__container {
    min-height: 5rem
  }
  .header__container {
    gap: 3.4375rem
  }
  .menu__list {
    -webkit-column-gap: 1.9375rem;
    -moz-column-gap: 1.9375rem;
    column-gap: 1.9375rem
  }
  .footer__container {
    padding-top: 7.5rem
  }
  .footer__container {
    padding-bottom: 7.5rem
  }
  .footer__body {
    margin-bottom: 2.125rem
  }
  .footer__title {
    font-size: 3.125rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: 1.0625rem
  }
  .footer__text {
    font-size: 1.125rem
  }
  .footer__text:not(:last-child) {
    margin-bottom: 2.0625rem
  }
  .footer__btn:not(:last-child) {
    margin-bottom: 3.8125rem
  }
  .footer__copyright {
    font-size: .875rem
  }
  .footer__actions {
    padding-top: 2.3125rem
  }
  .footer__socials {
    gap: 1.5rem
  }
  .hero__body {
    padding-bottom: 2.5rem
  }
  .hero__content {
    padding-right: 8.875rem
  }
  .hero__content {
    padding-left: 5rem
  }
  .hero__label:not(:last-child) {
    margin-bottom: .8125rem
  }
  .hero__title {
    font-size: 4.375rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.3125rem
  }
  .hero__text p {
    font-size: 1.125rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 2.0625rem
  }
  .hero__benefits {
    padding-bottom: 1.5rem
  }
  .hero__benefits p {
    font-size: 1.25rem
  }
  .item-collection__label:not(:last-child) {
    margin-bottom: 2.3125rem
  }
  .item-collection__title:nth-child(1) {
    margin-top: 6.6875rem
  }
  .brands__body::after,
  .brands__body::before {
    width: 5.1875rem
  }
  .brands__slide img {
    margin-left: 2.5rem
  }
  .brands__slide img {
    margin-right: 2.5rem
  }
  .arrivals__content {
    padding-top: 5.6875rem
  }
  .arrivals__content {
    padding-bottom: 13.5rem
  }
  .arrivals__content {
    padding-left: 11.5625rem
  }
  .arrivals__label:not(:last-child) {
    margin-bottom: 1.6875rem
  }
  .arrivals__title:not(:last-child) {
    margin-bottom: 2.0625rem
  }
  .advantages__items {
    -webkit-column-gap: 6.875rem;
    -moz-column-gap: 6.875rem;
    column-gap: 6.875rem
  }
  .item-advantages__picture:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .furniture__title:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .furniture__picture:not(:last-child) {
    margin-bottom: 2.875rem
  }
  .furniture__tippy {
    width: 2.5rem
  }
  .furniture__tippy {
    height: 2.5rem
  }
  .content-furniture__subtitle {
    font-size: 1.375rem
  }
  .content-furniture__subtitle:not(:last-child) {
    margin-bottom: 1.0625rem
  }
  .content-furniture__text p {
    font-size: 1.0625rem
  }
  .sellers__title:not(:last-child) {
    margin-bottom: 4rem
  }
  .sellers__items {
    -webkit-column-gap: 1.1875rem;
    -moz-column-gap: 1.1875rem;
    column-gap: 1.1875rem
  }
  .sellers__items {
    row-gap: 3.625rem
  }
  .item-sellers__picture:not(:last-child) {
    margin-bottom: .9375rem
  }
  .item-sellers__name {
    font-size: 1.0625rem
  }
  .item-sellers__price {
    font-size: 1.0625rem
  }
  .item-sellers__btn {
    padding: .75rem
  }
  .page__collection:not(:last-child) {
    margin-bottom: 5rem
  }
  .page__advantages:not(:last-child),
  .page__arrivals:not(:last-child),
  .page__brands:not(:last-child),
  .page__furniture:not(:last-child) {
    margin-bottom: 5rem
  }
  .page__sellers {
    margin-bottom: 5rem
  }
  .page__sellers {
    padding-bottom: 3.4375rem
  }
  .label {
    font-size: .875rem
  }
  .title {
    font-size: 2.5rem
  }
}
@media (max-width:20em) {
  .button {
    font-size: .75rem
  }
  .header__container {
    min-height: 3.25rem
  }
  .header__container {
    gap: .9375rem
  }
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .footer__container {
    padding-top: 2.5rem
  }
  .footer__container {
    padding-bottom: 2.5rem
  }
  .footer__body {
    margin-bottom: 1rem
  }
  .footer__title {
    font-size: 1.5rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: .6875rem
  }
  .footer__text {
    font-size: .75rem
  }
  .footer__text:not(:last-child) {
    margin-bottom: 1.0625rem
  }
  .footer__btn:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .footer__copyright {
    font-size: .625rem
  }
  .footer__actions {
    padding-top: 1.3125rem
  }
  .footer__socials {
    gap: 1.125rem
  }
  .hero__body {
    padding-bottom: 1.25rem
  }
  .hero__content {
    padding-block: 2.8125rem
  }
  .hero__label:not(:last-child) {
    margin-bottom: .5625rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: .6875rem
  }
  .hero__text p {
    font-size: .75rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: .9375rem
  }
  .hero__benefits {
    padding-bottom: .9375rem
  }
  .hero__benefits p {
    font-size: .625rem
  }
  .item-collection__label {
    padding-top: 2rem
  }
  .item-collection__label:not(:last-child) {
    margin-bottom: .5rem
  }
  .item-collection__title:nth-child(1) {
    margin-top: 3.8125rem
  }
  .brands__body::after,
  .brands__body::before {
    width: .625rem
  }
  .brands__slide img {
    margin-left: .625rem
  }
  .brands__slide img {
    margin-right: .625rem
  }
  .arrivals__content {
    padding-top: 2.125rem
  }
  .arrivals__content {
    padding-bottom: 2.8125rem
  }
  .arrivals__content {
    padding-left: 2.0625rem
  }
  .arrivals__label:not(:last-child) {
    margin-bottom: .6875rem
  }
  .arrivals__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .advantages__items {
    -webkit-column-gap: 5rem;
    -moz-column-gap: 5rem;
    column-gap: 5rem
  }
  .item-advantages__picture:not(:last-child) {
    margin-bottom: 1.4375rem
  }
  .furniture__title:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .furniture__picture:not(:last-child) {
    margin-bottom: .75rem
  }
  .furniture__tippy {
    width: 1.125rem
  }
  .furniture__tippy {
    height: 1.125rem
  }
  .content-furniture__subtitle {
    font-size: 1rem
  }
  .content-furniture__subtitle:not(:last-child) {
    margin-bottom: .4375rem
  }
  .content-furniture__text p {
    font-size: .75rem
  }
  .sellers__title:not(:last-child) {
    margin-bottom: 1.0625rem
  }
  .sellers__items {
    -webkit-column-gap: .5625rem;
    -moz-column-gap: .5625rem;
    column-gap: .5625rem
  }
  .sellers__items {
    row-gap: .5rem
  }
  .item-sellers__picture:not(:last-child) {
    margin-bottom: .4375rem
  }
  .item-sellers__name {
    font-size: .75rem
  }
  .item-sellers__price {
    font-size: .625rem
  }
  .item-sellers__btn {
    padding: .4375rem
  }
  .page__collection:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__advantages:not(:last-child),
  .page__arrivals:not(:last-child),
  .page__brands:not(:last-child),
  .page__furniture:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__sellers {
    margin-bottom: 2.5rem
  }
  .page__sellers {
    padding-bottom: 1.625rem
  }
  .label {
    font-size: .625rem
  }
  .title {
    font-size: 1.5rem
  }
}
@media (max-width:61.99875em) {
  .hero__content {
    padding-right: .625rem
  }
  .hero__content {
    padding-left: .9375rem
  }
  .hero__title {
    font-size: 2.5rem
  }
  .collection__items {
    grid-template-columns: auto
  }
  .item-collection {
    flex-direction: row
  }
  .item-collection__content {
    position: relative;
    z-index: 2;
    padding-bottom: 2.8125rem
  }
  .item-collection__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .item-collection__image {
    align-self: flex-end;
    position: absolute;
    right: 0
  }
  .advantages__items {
    flex-direction: column
  }
  .item-advantages__text {
    max-width: 17.25rem
  }
  .sellers__items {
    grid-template-columns: repeat(3,1fr)
  }
}
@media (max-width:61.99875em)and (max-width:20em) {
  .item-collection__content {
    padding-left: 1.4375rem
  }
  .advantages__items {
    row-gap: 2.8125rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 5rem .9375rem .9375rem 1.875rem;
    background-color: #434242;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.75rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #434242
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__link {
    font-size: 1.75rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__logo {
    flex-grow: 1;
    text-align: center
  }
  .menu__list {
    flex-direction: column;
    gap: 2.125rem
  }
  .menu__link {
    color: #000
  }
  .hero__body {
    grid-template-columns: auto
  }
  .item-collection__label {
    padding-top: 3.8125rem
  }
  .sellers__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .footer__actions {
    align-items: center;
    justify-content: center
  }
  .hero__content {
    margin: 0 -.9375rem
  }
  .hero__image {
    margin: 0 -.9375rem
  }
  .collection__container {
    margin: 0 -.9375rem
  }
  .item-collection__image img {
    opacity: .7
  }
  .furniture__picture {
    margin: 0 -.9375rem
  }
  .sellers__items {
    justify-content: center;
    grid-template-columns: auto
  }
  .item-sellers__about {
    gap: .1875rem
  }
}
@media (min-width:20em)and (max-width:78.5em) {
  .button {
    font-size: clamp(.75rem ,.6431623932rem + .5341880342vw ,1.0625rem)
  }
  .header__container {
    min-height: clamp(3.25rem ,2.6517094017rem + 2.9914529915vw ,5rem)
  }
  .header__container {
    gap: clamp(.9375rem ,.0827991453rem + 4.2735042735vw ,3.4375rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,.5956196581rem + 1.7094017094vw ,1.9375rem);
    -moz-column-gap: clamp(.9375rem ,.5956196581rem + 1.7094017094vw ,1.9375rem);
    column-gap: clamp(.9375rem ,.5956196581rem + 1.7094017094vw ,1.9375rem)
  }
  .footer__container {
    padding-top: clamp(2.5rem ,.7905982906rem + 8.547008547vw ,7.5rem)
  }
  .footer__container {
    padding-bottom: clamp(2.5rem ,.7905982906rem + 8.547008547vw ,7.5rem)
  }
  .footer__body {
    margin-bottom: clamp(1rem ,.6153846154rem + 1.9230769231vw ,2.125rem)
  }
  .footer__title {
    font-size: clamp(1.5rem ,.9444444444rem + 2.7777777778vw ,3.125rem)
  }
  .footer__title:not(:last-child) {
    margin-bottom: clamp(.6875rem ,.5592948718rem + .641025641vw ,1.0625rem)
  }
  .footer__text {
    font-size: clamp(.75rem ,.6217948718rem + .641025641vw ,1.125rem)
  }
  .footer__text:not(:last-child) {
    margin-bottom: clamp(1.0625rem ,.7206196581rem + 1.7094017094vw ,2.0625rem)
  }
  .footer__btn:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.3739316239rem + 4.3803418803vw ,3.8125rem)
  }
  .footer__copyright {
    font-size: clamp(.625rem ,.5395299145rem + .4273504274vw ,.875rem)
  }
  .footer__actions {
    padding-top: clamp(1.3125rem ,.9706196581rem + 1.7094017094vw ,2.3125rem)
  }
  .footer__socials {
    gap: clamp(1.125rem ,.9967948718rem + .641025641vw ,1.5rem)
  }
  .hero__body {
    padding-bottom: clamp(1.25rem ,.8226495726rem + 2.1367521368vw ,2.5rem)
  }
  .hero__label:not(:last-child) {
    margin-bottom: clamp(.5625rem ,.4770299145rem + .4273504274vw ,.8125rem)
  }
  .hero__title:not(:last-child) {
    margin-bottom: clamp(.6875rem ,.4738247863rem + 1.0683760684vw ,1.3125rem)
  }
  .hero__text p {
    font-size: clamp(.75rem ,.6217948718rem + .641025641vw ,1.125rem)
  }
  .hero__text:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.5528846154rem + 1.9230769231vw ,2.0625rem)
  }
  .hero__benefits {
    padding-bottom: clamp(.9375rem ,.7451923077rem + .9615384615vw ,1.5rem)
  }
  .hero__benefits p {
    font-size: clamp(.625rem ,.4113247863rem + 1.0683760684vw ,1.25rem)
  }
  .item-collection__label:not(:last-child) {
    margin-bottom: clamp(.5rem ,-.1196581197rem + 3.0982905983vw ,2.3125rem)
  }
  .item-collection__title:nth-child(1) {
    margin-top: clamp(3.8125rem ,2.8295940171rem + 4.9145299145vw ,6.6875rem)
  }
  .brands__body::after,
  .brands__body::before {
    width: clamp(.625rem ,-.9348290598rem + 7.7991452991vw ,5.1875rem)
  }
  .brands__slide img {
    margin-left: clamp(.625rem ,-.016025641rem + 3.2051282051vw ,2.5rem)
  }
  .brands__slide img {
    margin-right: clamp(.625rem ,-.016025641rem + 3.2051282051vw ,2.5rem)
  }
  .arrivals__content {
    padding-top: clamp(2.125rem ,.9070512821rem + 6.0897435897vw ,5.6875rem)
  }
  .arrivals__content {
    padding-bottom: clamp(2.8125rem ,-.8413461538rem + 18.2692307692vw ,13.5rem)
  }
  .arrivals__content {
    padding-left: clamp(2.0625rem ,-1.1853632479rem + 16.2393162393vw ,11.5625rem)
  }
  .arrivals__label:not(:last-child) {
    margin-bottom: clamp(.6875rem ,.3456196581rem + 1.7094017094vw ,1.6875rem)
  }
  .arrivals__title:not(:last-child) {
    margin-bottom: clamp(.75rem ,.3012820513rem + 2.2435897436vw ,2.0625rem)
  }
  .advantages__items {
    -webkit-column-gap: clamp(5rem ,4.358974359rem + 3.2051282051vw ,6.875rem);
    -moz-column-gap: clamp(5rem ,4.358974359rem + 3.2051282051vw ,6.875rem);
    column-gap: clamp(5rem ,4.358974359rem + 3.2051282051vw ,6.875rem)
  }
  .item-advantages__picture:not(:last-child) {
    margin-bottom: clamp(1.4375rem ,.9674145299rem + 2.3504273504vw ,2.8125rem)
  }
  .furniture__title:not(:last-child) {
    margin-bottom: clamp(1.5rem ,.8376068376rem + 3.311965812vw ,3.4375rem)
  }
  .furniture__picture:not(:last-child) {
    margin-bottom: clamp(.75rem ,.0235042735rem + 3.6324786325vw ,2.875rem)
  }
  .furniture__tippy {
    width: clamp(1.125rem ,.6549145299rem + 2.3504273504vw ,2.5rem)
  }
  .furniture__tippy {
    height: clamp(1.125rem ,.6549145299rem + 2.3504273504vw ,2.5rem)
  }
  .content-furniture__subtitle {
    font-size: clamp(1rem ,.8717948718rem + .641025641vw ,1.375rem)
  }
  .content-furniture__subtitle:not(:last-child) {
    margin-bottom: clamp(.4375rem ,.2238247863rem + 1.0683760684vw ,1.0625rem)
  }
  .content-furniture__text p {
    font-size: clamp(.75rem ,.6431623932rem + .5341880342vw ,1.0625rem)
  }
  .sellers__title:not(:last-child) {
    margin-bottom: clamp(1.0625rem ,.0582264957rem + 5.0213675214vw ,4rem)
  }
  .sellers__items {
    -webkit-column-gap: clamp(.5625rem ,.3488247863rem + 1.0683760684vw ,1.1875rem);
    -moz-column-gap: clamp(.5625rem ,.3488247863rem + 1.0683760684vw ,1.1875rem);
    column-gap: clamp(.5625rem ,.3488247863rem + 1.0683760684vw ,1.1875rem)
  }
  .sellers__items {
    row-gap: clamp(.5rem ,-.5683760684rem + 5.3418803419vw ,3.625rem)
  }
  .item-sellers__picture:not(:last-child) {
    margin-bottom: clamp(.4375rem ,.2665598291rem + .8547008547vw ,.9375rem)
  }
  .item-sellers__name {
    font-size: clamp(.75rem ,.6431623932rem + .5341880342vw ,1.0625rem)
  }
  .item-sellers__price {
    font-size: clamp(.625rem ,.4754273504rem + .7478632479vw ,1.0625rem)
  }
  .item-sellers__btn {
    padding: clamp(.4375rem ,.3306623932rem + .5341880342vw ,.75rem)
  }
  .page__collection:not(:last-child) {
    margin-bottom: clamp(2.5rem ,1.6452991453rem + 4.2735042735vw ,5rem)
  }
  .page__advantages:not(:last-child),
  .page__arrivals:not(:last-child),
  .page__brands:not(:last-child),
  .page__furniture:not(:last-child) {
    margin-bottom: clamp(2.5rem ,1.6452991453rem + 4.2735042735vw ,5rem)
  }
  .page__sellers {
    margin-bottom: clamp(2.5rem ,1.6452991453rem + 4.2735042735vw ,5rem)
  }
  .page__sellers {
    padding-bottom: clamp(1.625rem ,1.0053418803rem + 3.0982905983vw ,3.4375rem)
  }
  .label {
    font-size: clamp(.625rem ,.5395299145rem + .4273504274vw ,.875rem)
  }
  .title {
    font-size: clamp(1.5rem ,1.1581196581rem + 1.7094017094vw ,2.5rem)
  }
}
@media (min-width:29.99875em)and (min-width:20em)and (max-width:78.5em) {
  .hero__body {
    padding-top: clamp(1.25rem ,.8226495726rem + 2.1367521368vw ,2.5rem)
  }
}
@media (min-width:29.99875em)and (max-width:20em) {
  .hero__body {
    padding-top: 1.25rem
  }
}
@media (min-width:20em)and (max-width:47.99875em) {
  .hero__content {
    padding-block: clamp(2.8125rem ,-.5358637662rem + 16.7418188312vw ,7.5rem)
  }
}
@media (min-width:61.99875em)and (max-width:78.5em) {
  .hero__content {
    padding-right: clamp(.625rem ,-30.3720267404rem + 49.9962124082vw ,8.875rem)
  }
  .hero__content {
    padding-left: clamp(.9375rem ,-14.32618741rem + 24.6193470192vw ,5rem)
  }
  .hero__title {
    font-size: clamp(2.5rem ,-4.5447788046rem + 11.3627755473vw ,4.375rem)
  }
}
@media (max-width:61.99875em)and (min-width:78.5em) {
  .item-collection__content {
    padding-left: 2.4375rem
  }
  .advantages__items {
    row-gap: 4rem
  }
}
@media (max-width:61.99875em)and (min-width:20em)and (max-width:78.5em) {
  .item-collection__content {
    padding-left: clamp(1.4375rem ,1.0956196581rem + 1.7094017094vw ,2.4375rem)
  }
  .advantages__items {
    row-gap: clamp(2.8125rem ,2.406517094rem + 2.0299145299vw ,4rem)
  }
}
@media (min-width:20em)and (max-width:61.99875em) {
  .item-collection__label {
    padding-top: clamp(2rem ,1.4642697699rem + 2.6786511503vw ,3.125rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #fff;
    color: #181818
  }
  .header__cart:hover {
    color: #181818;
    border: .0625rem solid #181818
  }
  .menu__link:hover {
    color: #000
  }
  .footer__social:hover {
    color: #000
  }
  .furniture__tippy:hover {
    -webkit-animation: rotate .4s linear;
    animation: rotate .4s linear
  }
  .item-sellers__picture:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-sellers__name:hover {
    text-decoration: underline
  }
  .item-sellers__btn:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
  }
}