@import url(https://fonts.googleapis.com/css?family=Inter:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant:500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Inter;
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #04011f
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 75.3125rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,73.4375rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  padding: .75rem 1.625rem;
  background-color: #f7a428;
  border-radius: .125rem;
  transition: background-color .3s;
  font-family: Merriweather;
  font-weight: 700
}
.button--fw {
  width: 100%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: .375rem;
  background-color: #000;
  z-index: 50
}
.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .9375rem
}
.header__logo {
  position: relative;
  z-index: 2;
  font-family: Merriweather;
  font-style: italic;
  transition: color .3s
}
.header__logo:hover {
  color: #f7a428
}
.header__button {
  position: relative;
  z-index: 2;
  flex-shrink: 0
}
.menu__list {
  display: flex;
  flex-wrap: wrap
}
.menu__link {
  font-family: Merriweather
}
.menu__link.active {
  text-decoration: underline
}
.menu__link:hover {
  text-decoration: underline
}
.footer {
  border-top: .0625rem solid rgba(249,249,249,.22);
  border-bottom: .0625rem solid rgba(249,249,249,.22);
  margin-bottom: 1.375rem
}
.footer__container {
  text-align: center
}
.footer__body {
  display: grid
}
.footer__content {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  font-family: "Cormorant Infant"
}
.footer__tel {
  font-size: 1.875rem;
  font-weight: 500
}
.footer__tel:not(:last-child) {
  margin-bottom: .4375rem
}
.footer__mail {
  font-size: 2.5rem;
  font-weight: 700
}
.footer__mail:not(:last-child) {
  margin-bottom: 1.0625rem
}
.footer__address {
  font-family: Inter
}
.footer__address:not(:last-child) {
  margin-bottom: 1.3125rem
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1.125rem
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding-block: .5rem;
  padding-inline: .625rem;
  width: 1.75rem;
  height: 1.75rem;
  background-color: #fac70f;
  transition: background-color .3s
}
.footer__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap
}
.footer__link {
  text-decoration: underline
}
.hero {
  position: relative
}
.hero::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10,4,56,.5803921569)
}
.hero__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 72.74svh
}
.hero__content {
  position: relative;
  text-align: center;
  z-index: 3
}
.hero__title {
  font-family: "DM Serif Text";
  line-height: 139.5%
}
.hero__text {
  margin: 0 auto;
  max-width: 37.8125rem;
  line-height: 1.8
}
.hero__button {
  font-size: 1.75rem;
  font-family: "DM Serif Text";
  border-radius: .3125rem;
  font-weight: 400
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0
}
.offers__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  gap: 1.5625rem;
  flex-wrap: wrap
}
.item-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 18rem
}
.item-offers__picture {
  flex: 0 0 4.125rem;
  width: 4.125rem
}
.item-offers__picture img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
  object-fit: contain
}
.item-offers__picture:not(:last-child) {
  margin-bottom: 1.3125rem
}
.item-offers__title {
  font-family: "DM Serif Text";
  font-size: 1.875rem
}
.item-offers__title:not(:last-child) {
  margin-bottom: .5rem
}
.item-offers__text {
  color: #c2c2c2;
  line-height: 1.6
}
.custom {
  background: url(../img/custom-jewels/line.svg) center/100% auto no-repeat
}
.custom__body {
  display: grid;
  grid-template-columns: repeat(2,1fr)
}
.custom__content {
  display: flex
}
.custom__content:nth-child(1) {
  flex-direction: column-reverse
}
.custom__content:nth-child(2) {
  align-items: center;
  flex-grow: 0
}
.custom__title span {
  position: relative;
  z-index: 3
}
.custom__title span::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 22%;
  left: 0;
  background-color: #fac70f;
  z-index: -1
}
.custom__picture img {
  border-radius: .3125rem;
  overflow: hidden
}
.custom__picture--first {
  display: flex;
  align-self: flex-end;
  aspect-ratio: 397/506
}
.custom__picture--second {
  aspect-ratio: 414/608
}
.custom__text {
  font-size: 1.25rem;
  line-height: 1.8
}
.popular {
  background: url(../img/popular/decor.svg) 100% 100% no-repeat
}
.popular__header {
  display: grid;
  gap: 1.6875rem;
  text-align: center
}
.popular__title {
  font-family: "DM Serif Text"
}
.popular__label {
  color: #bcbcbc;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 1.4
}
.popular__items {
  display: flex;
  justify-content: space-evenly
}
.item-popular__picture {
  aspect-ratio: 1/1;
  border-radius: .3125rem;
  overflow: hidden
}
.item-popular__picture:not(:last-child) {
  margin-bottom: 1.0625rem
}
.item-popular__picture img {
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s
}
.item-popular__info {
  display: grid;
  gap: .25rem;
  font-family: "Cormorant Infant";
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4
}
.handcraft__title {
  max-width: 40rem
}
.handcraft__items {
  display: flex;
  min-height: 46.8125rem
}
.item-handcraft {
  display: flex;
  flex-direction: column
}
.item-handcraft:nth-child(1) {
  align-self: center
}
.item-handcraft:nth-child(2) {
  align-self: flex-start
}
.item-handcraft:nth-child(3) {
  align-self: flex-end
}
.item-handcraft__picture img {
  border-radius: .3125rem;
  overflow: hidden
}
.item-handcraft__picture img:nth-child(1) {
  aspect-ratio: 370/552
}
.item-handcraft__picture img:nth-child(2) {
  aspect-ratio: 336/465
}
.item-handcraft__picture img:nth-child(3) {
  aspect-ratio: 360/523
}
.item-handcraft__picture:not(:last-child) {
  margin-bottom: 1.5625rem
}
.item-handcraft__text {
  font-size: 1.1875rem;
  line-height: 1.8
}
.products {
  position: relative;
  background: url(../img/products/decor.svg) 118% 0 no-repeat
}
.products__title {
  font-family: "DM Serif Text"
}
.products__title:not(:last-child) {
  margin-bottom: 1.6875rem
}
.products__label {
  color: #bcbcbc;
  font-family: "Cormorant Infant";
  font-weight: 700;
  line-height: 1.4
}
.products__wrapper {
  align-items: center
}
.products__content {
  display: flex;
  flex-direction: column;
  padding: 1.4375rem 2rem 1.125rem 1.5rem;
  background-color: #050314;
  border-radius: 0 0 .3125rem .3125rem
}
.products__picture {
  aspect-ratio: 364/265
}
.products__picture img {
  border-radius: .3125rem;
  overflow: hidden;
  transition: all .5s
}
.products__subtitle {
  font-family: "DM Serif Text"
}
.products__subtitle:not(:last-child) {
  margin-bottom: 1.4375rem
}
.products__info {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.products__info:not(:last-child) {
  margin-bottom: 1.4375rem
}
.products__dato {
  display: flex;
  align-items: center;
  gap: .5rem;
  font-size: 1rem
}
.products__time {
  font-size: 1rem;
  letter-spacing: .96px
}
.products__link {
  text-decoration: underline
}
.label {
  color: #f7a428;
  text-transform: uppercase
}
.label:not(:last-child) {
  margin-bottom: .8125rem
}
.title {
  font-family: "DM Serif Text";
  line-height: 146.5%
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:29.99875em) {
  .menu__list {
    row-gap: .625rem
  }
  .menu__link {
    font-size: 1.25rem
  }
}
@media (min-width:29.99875em)and (min-width:75.3125em) {
  .menu__list {
    -webkit-column-gap: 2.25rem;
    -moz-column-gap: 2.25rem;
    column-gap: 2.25rem
  }
}
@media (min-width:47.99875em) {
  .custom__text {
    max-width: 28.8125rem
  }
  .handcraft {
    background: url(../img/handcraft/decor.svg) 0 30% no-repeat
  }
}
@media (min-width:61.99875em) {
  .custom__content {
    flex-direction: column
  }
}
@media (min-width:75.3125em) {
  .header__body {
    min-height: 6.25rem
  }
  .header__logo {
    font-size: 1.875rem
  }
  .footer {
    padding-block: 2.5625rem
  }
  .footer__body {
    gap: 3.25rem
  }
  .footer__list {
    gap: 3.125rem
  }
  .hero__title {
    font-size: 3.625rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 2rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.8125rem
  }
  .custom__content:nth-child(1) {
    gap: 5.875rem
  }
  .custom__content:nth-child(2) .custom__picture:not(:last-child) {
    margin-bottom: 2.4375rem
  }
  .custom__title span::after {
    height: .4375rem
  }
  .custom__text {
    margin-left: 2.5rem
  }
  .popular__header:not(:last-child) {
    margin-bottom: 5.4375rem
  }
  .popular__title {
    font-size: 3.625rem
  }
  .popular__label {
    font-size: 1.875rem
  }
  .popular__items {
    gap: 2.5rem
  }
  .handcraft__header:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .handcraft__items {
    gap: 3.75rem
  }
  .products__header:not(:last-child) {
    margin-bottom: 4.125rem
  }
  .products__title {
    font-size: 3.625rem
  }
  .products__label {
    font-size: 1.875rem
  }
  .page__hero:not(:last-child),
  .page__offers:not(:last-child) {
    margin-bottom: 10.6875rem
  }
  .page__custom:not(:last-child),
  .page__handcraft:not(:last-child),
  .page__popular:not(:last-child) {
    margin-bottom: 10.4375rem
  }
  .page__products {
    margin-bottom: 10.4375rem
  }
  .label {
    font-size: 1.75rem
  }
  .title {
    font-size: 4.25rem
  }
}
@media (min-width:111.74875em) {
  .products__arrow--next,
  .products__arrow--prev {
    position: absolute;
    top: 50%;
    width: 1.9375rem;
    height: 3.5rem;
    transition: all .3s
  }
  .products__arrow--prev {
    left: 15%;
    background: url(../img/products/arrow-l.svg) 0 0 no-repeat
  }
  .products__arrow--next {
    right: 15%;
    background: url(../img/products/arrow-r.svg) 0 0 no-repeat
  }
}
@media (min-width:111.74875em)and (any-hover:hover) {
  .products__arrow--next:hover,
  .products__arrow--prev:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}
@media (max-width:20em) {
  .header__body {
    min-height: 3.125rem
  }
  .header__logo {
    font-size: 1.5rem
  }
  .footer {
    padding-block: .9375rem
  }
  .footer__body {
    gap: 1.25rem
  }
  .footer__list {
    gap: 1.25rem
  }
  .hero__title {
    font-size: 2.875rem
  }
  .hero__title:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .hero__text:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .custom__content:nth-child(1) {
    gap: .9375rem
  }
  .custom__content:nth-child(2) .custom__picture:not(:last-child) {
    margin-bottom: .9375rem
  }
  .custom__title span::after {
    height: .125rem
  }
  .custom__text {
    margin-left: .0000000625rem
  }
  .popular__header:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .popular__title {
    font-size: 2.25rem
  }
  .popular__label {
    font-size: 1.5rem
  }
  .popular__items {
    gap: 1.25rem
  }
  .handcraft__header:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .handcraft__items {
    gap: .9375rem
  }
  .products__header:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .products__title {
    font-size: 2.25rem
  }
  .products__label {
    font-size: 1.625rem
  }
  .page__hero:not(:last-child),
  .page__offers:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__custom:not(:last-child),
  .page__handcraft:not(:last-child),
  .page__popular:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .page__products {
    margin-bottom: 2.5rem
  }
  .label {
    font-size: 1.25rem
  }
  .title {
    font-size: 2.125rem
  }
}
@media (max-width:61.99875em) {
  .custom__body {
    grid-template-columns: auto;
    gap: 1.25rem
  }
  .custom__content:nth-child(1) {
    flex-direction: row-reverse
  }
  .custom__picture--first {
    justify-self: center;
    align-self: center
  }
  .popular__items {
    flex-wrap: wrap
  }
}
@media (max-width:47.99875em) {
  .custom__content:nth-child(1) {
    flex-direction: column-reverse
  }
  .custom__content:nth-child(2) {
    flex-direction: column
  }
  .custom__header {
    text-align: center
  }
  .custom__text {
    text-align: center
  }
  .popular__items {
    justify-content: center
  }
  .handcraft__items {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center
  }
  .products__header {
    text-align: center
  }
}
@media (max-width:29.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    background-color: #04011f;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
  }
  .menu__link {
    font-size: 2rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .handcraft__header {
    text-align: center
  }
}
@media (max-width:29.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:20em)and (max-width:75.3125em) {
  .header__body {
    min-height: clamp(3.125rem ,1.9950564972rem + 5.6497175141vw ,6.25rem)
  }
  .header__logo {
    font-size: clamp(1.5rem ,1.3644067797rem + .6779661017vw ,1.875rem)
  }
  .footer {
    padding-block: clamp(.9375rem ,.3499293785rem + 2.9378531073vw ,2.5625rem)
  }
  .footer__body {
    gap: clamp(1.25rem ,.5268361582rem + 3.615819209vw ,3.25rem)
  }
  .footer__list {
    gap: clamp(1.25rem ,.5720338983rem + 3.3898305085vw ,3.125rem)
  }
  .hero__title {
    font-size: clamp(2.875rem ,2.6038135593rem + 1.3559322034vw ,3.625rem)
  }
  .hero__title:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.9788135593rem + 1.3559322034vw ,2rem)
  }
  .hero__text:not(:last-child) {
    margin-bottom: clamp(1.25rem ,1.0466101695rem + 1.0169491525vw ,1.8125rem)
  }
  .custom__content:nth-child(1) {
    gap: clamp(.9375rem ,-.8478107345rem + 8.9265536723vw ,5.875rem)
  }
  .custom__content:nth-child(2) .custom__picture:not(:last-child) {
    margin-bottom: clamp(.9375rem ,.3951271186rem + 2.7118644068vw ,2.4375rem)
  }
  .custom__title span::after {
    height: clamp(.125rem ,.0120056497rem + .5649717514vw ,.4375rem)
  }
  .custom__text {
    margin-left: clamp(.0000000625rem ,-.9039547172rem + 4.5197738983vw ,2.5rem)
  }
  .popular__header:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.1613700565rem + 7.0056497175vw ,5.4375rem)
  }
  .popular__title {
    font-size: clamp(2.25rem ,1.7528248588rem + 2.4858757062vw ,3.625rem)
  }
  .popular__label {
    font-size: clamp(1.5rem ,1.3644067797rem + .6779661017vw ,1.875rem)
  }
  .popular__items {
    gap: clamp(1.25rem ,.7980225989rem + 2.2598870056vw ,2.5rem)
  }
  .handcraft__header:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.9975282486rem + 2.8248587571vw ,3.125rem)
  }
  .handcraft__items {
    gap: clamp(.9375rem ,-.0794491525rem + 5.0847457627vw ,3.75rem)
  }
  .products__header:not(:last-child) {
    margin-bottom: clamp(1.5625rem ,.6359463277rem + 4.6327683616vw ,4.125rem)
  }
  .products__title {
    font-size: clamp(2.25rem ,1.7528248588rem + 2.4858757062vw ,3.625rem)
  }
  .products__label {
    font-size: clamp(1.625rem ,1.5346045198rem + .4519774011vw ,1.875rem)
  }
  .page__hero:not(:last-child),
  .page__offers:not(:last-child) {
    margin-bottom: clamp(2.5rem ,-.4604519774rem + 14.802259887vw ,10.6875rem)
  }
  .page__custom:not(:last-child),
  .page__handcraft:not(:last-child),
  .page__popular:not(:last-child) {
    margin-bottom: clamp(2.5rem ,-.3700564972rem + 14.3502824859vw ,10.4375rem)
  }
  .page__products {
    margin-bottom: clamp(2.5rem ,-.3700564972rem + 14.3502824859vw ,10.4375rem)
  }
  .label {
    font-size: clamp(1.25rem ,1.0692090395rem + .9039548023vw ,1.75rem)
  }
  .title {
    font-size: clamp(2.125rem ,1.3566384181rem + 3.8418079096vw ,4.25rem)
  }
}
@media (min-width:29.99875em)and (min-width:20em)and (max-width:75.3125em) {
  .menu__list {
    -webkit-column-gap: clamp(.9375rem ,.4629237288rem + 2.3728813559vw ,2.25rem);
    -moz-column-gap: clamp(.9375rem ,.4629237288rem + 2.3728813559vw ,2.25rem);
    column-gap: clamp(.9375rem ,.4629237288rem + 2.3728813559vw ,2.25rem)
  }
}
@media (min-width:29.99875em)and (max-width:20em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #895e1c
  }
  .footer__social:hover {
    background-color: #dfd096
  }
  .footer__link:hover {
    text-decoration: none
  }
  .item-popular__picture:hover img {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-popular__title:hover a {
    text-decoration: underline
  }
  .products__picture img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .products__subtitle a:hover {
    text-decoration: underline
  }
  .products__link:hover {
    text-decoration: none
  }
}